{{!-- review handle bars page --}}
<div class="row back">
      <div class="col s12 m4 l3">
          <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{books.images}}">
        </div>
        <div class="card-content">
          <span class="card-title black-text"><strong>{{books.name}}</strong></span>
          <span class="card-title black-text"><strong>Author: {{books.author.name}}</strong></span>
          <p class=" black-text">{{books.description}}</p>
        </div>
      </div>
    </div>
  </div>
      </div>

      <div class="col s12 m8 l9">

          <div class="row">
    <div class="col s12 m6">
      <div class="card  darken-1">
        <div class="card-content white-text">


          {{#each reviewer as |reviews| }}
          <article class="">
          <span class="black-text"><strong>User: {{reviews.user.email}}</strong></span>
          <br>
          <p class="black-text">{{reviews.message}}</p>
          <br>
          </article>
          {{/each}}

        {{#if logged_in}}
        <form class="submitReview">
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Add Review"></textarea>
    <input type="hidden" value="{{book_id}}" id="bookValue">
    <button type="submit">post</button>
    {{else}}
    <a href="/login">Log In To Post a Review</a>
    {{/if}}
</form>
      </div>
    </div>
  </div>

      </div>

    </div>

<script src="/js/review.js"></script> 